{-# LANGUAGE OverloadedStrings #-}

module Main where

import qualified $FILE_NAME_TO_IMPORT$ as File
import PrettyPrintable ( Mappable(prettyPrintWithMap) )
import List
import Utils ( printMappedSvgToFile )

import qualified Data.ByteString.Lazy
import qualified Data.Text as T

main = do
    print "working?"
    print File.l2
    printMappedSvgToFile "out1.html" (prettyPrintWithMap File.l2)
